<a href="#!/view2">View 2</a>
<hr>
<h1>Login</h1>
<input ng-model="loginEmail" type="email" placeholder="Email">
<br>
<input ng-model="loginPassword" type="password" placeholder="Password">
<br>
<button ng-click="login()">Log In</button>
<button ng-click="signUp()">Sign Up</button>
<button ng-click="logout()" class="hidden">Log Out</button>
<hr>
<div class="hidden">
  <h1>Add Employee</h1>
  <input type="text" ng-model="employee.fname" placeholder="First Name">
  <input type="text" ng-model="employee.lname" placeholder="Last Name">
  <button ng-click="addEmployee()">Add</button>
</div>
